/* static/css/style.css */

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #74ebd5, #acb6e5);
}

h1 {
    font-size: 4rem;
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-bottom: 4px solid white;
    padding-bottom: 10px;
}
